* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #FFE5F8;
}

.section-p{
    width: 100%;
    height: 100vh;
}

.Containerz {
    text-align: center;
    padding: 30px;
}

h1 {
    color: #1376FF;
    font-size: 64px;
    margin-top: 20px;
}

.partners-container{
    background-color: white;
    padding: 30px;
    height: 250px;
}

.partners-container {
    overflow: hidden; /* Isso garante que as imagens que saem da tela não fiquem visíveis */
    margin-top: 200px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners img {
    width: 60%;
    height: 90px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-right: 30px; /* Espaço entre as imagens */
}


#estrela {
    background-color: #FFED00;
}

#passos {
    background-color: #0E2A8E;
}

#Santarder {
    background-color: red;
}

/* Primeira linha de imagens - movendo da esquerda para a direita */
.partners-row1 {
    display: flex;
    justify-content: start;
    animation: slideRight 8s linear infinite;
    width: 100%; /* Garantir que ocupe toda a largura */
}

/* Segunda linha de imagens - movendo da direita para a esquerda */
.partners-row2 {
    display: flex;
    justify-content: start;
    animation: slideLeft 8s linear infinite;
    width: 100%; /* Garantir que ocupe toda a largura */
    margin-top: 20px;
}

/* Animação para mover da esquerda para a direita (row 1) */
@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

/* Animação para mover da direita para a esquerda (row 2) */
@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
