*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
    background-color: #FFE5F8;
    color: white;
}

section .criar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.box-pink{
    background-color: #ff83dc;
    width: 50%;
    float: left;
    padding: 10px;
    margin-top: 150px;
    margin-left: 60px;
    border-radius: 20px;

}

h1{
    font-size: 36px;
    padding: 40px 80px 20px;
}

.partners-container{
    background-color: white;
    padding: 30px;
    height: 250px;
}

.partners-container {
    overflow: hidden; /* Isso garante que as imagens que saem da tela não fiquem visíveis */
    margin-top: 200px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.apoiar{
    padding: 20px 80px;
}

.button{
    padding: 20px 70px;
    cursor: pointer;
    transition: all 3s ease-in-out;
}

.button:hover{
    content: url('img1/button2.svg');
}

.pessoa{
    max-width: 40%;
    margin-left: 20px;
    height: 420px;
    margin-top: 150px;
    border-radius: 10px;
}




