*{
    margin: 0;
    padding: 0;
    font-family: font1;
}

@font-face {
    font-family: font1;
    src: url(Quicksand/Quicksand-VariableFont_wght.ttf);
}

.navbar{
    width: 72%;
    height: 70px;
    margin: auto;
    margin-top: 10px;
    font-size: 1.2vw;
    border-radius: 10px;
    background-color: #1376ff;
}

.row{
    margin: 0;
}

.navbar-brand{
    margin-left: 20px;
}


#logincadastro-menu{
    background-color: #D5941D;
    border-radius: 10px;
    margin-left: 92px;
}

#navbar-links a{
    color: #fff;
}

#navbar-links a:hover{
    color: #083b83;
}

.espaco-em-branco{
    width: 130px;
}

.navbar-expand-lg {
  
}

main{
    min-height: 900px;
}

p{
    font-size: 2.2vw;
    font-weight: bold; 
}

#sec2{
    color: #7B175F;
}

#sec3{
    color: #795107;
}

.containersec1, .containersec2, .containersec3{
    position: static;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    min-height: 760px;
    background-color: #E3ECEA;
    font-size: 10vh;

}

.containersec2{
    background-color: #FFE5F8;
}

.containersec3{
    background-color: #FFF6E9;
}

.secao1, .secao21{
    font-size: 5rem;
    width: 45%;
    margin-left: 150px;
}

.secao1 h1{
    font-size: 4.5vw;
    color: #1376FF;
    font-weight: bold; 
}

.secao21 h1{
    font-size: 4.5vw;
    color: #FF5AD1;
    font-weight: bold; 
}

.secao11 h1{
    font-size: 4.5vw;
    color: #FFA62B;
    font-weight: bold; 
}

#gratis {
    width: 304px;
}



#gratis:hover {

    width: 310px;
    transition: all 0.5s;
}


.section-dentro img{
    width: 190px;
}
.section-dentro img:hover{
    width: 200px;
    transition: all 0.5s;
}

.conhecer{
    font-weight: bold; 
    margin-left: -86px;
    color: #fff;
    text-decoration: none;
}

.secao2, .secao-loja, .secao-crianca {
    display: flex;
    justify-content: end;
    width: 45%;
    margin-right: 150px;

}

.container-home-page{
    /* position: absolute; */
}

.secao2  img{
    border: 7px solid #D5941D;
    width: 630px;
    border-radius: 30px;
}

.secao-loja img{
    border: 7px solid #FF69B3;
    width: 630px;
    border-radius: 30px;
}

.secao-crianca  img{
    border: 7px solid #1376FF;
    width: 630px;
    border-radius: 30px;
}

.nuvem {
    position: absolute;
    top: 700px;
    left: 0;
    width: 100%;
    z-index: 10; 
}
.nuvem img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(0); 
    transition: transform 0.2s ease-out; 
}


.dropPsicologo{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 85px;
    left: 70vh;
    width: 250px;
    height: 200px;
    border: 5px solid #1376FF;
    background-color: #A1C8FF;
    padding: 10px;
    border-radius: 5px;
    font-size: 1vw;
    text-align: center;
    visibility: hidden; 
}

#camada1{
    border-radius: 24px;
}

.dropPsicologo a{
    color: #002A64;
    text-decoration: none;
    /* margin-top: 15px; */
    margin: auto;
}

.dropApoie{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 85px;
    left: 88vh;
    width: 250px;
    height: 100px;
    border: 5px solid #1376FF;
    background-color: #A1C8FF;
    padding: 10px;
    border-radius: 5px;
    font-size: 1vw;
    text-align: center;
    visibility: hidden; 
}

.dropApoie a{
    color: #002A64;
    text-decoration: none;
    margin: auto;
    /* margin-top: 15px; */
}

.dropApoie a:hover{
    font-weight: bold;
}

#camada2{
    border-radius: 30px;
}



