@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo{
    width: 90%;
    height: 3000px;
    margin: auto;
    font-family: "Nunito", sans-serif;
    color: white;
}

.titulo_info{
    margin: auto;
    width: 60%;
    color: #1376FF;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.container_azul{
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 90%;
    margin: auto; 
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.container_azul h1{
    font-size: 2em;
}
.num{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    font-size: 1.4em;
    background-color: #1376FF;
    padding: 30px;
    border-radius: 24px 
}

.nuvens{
    width: 100%;
    height: auto;
    margin-top: 200px;

    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
}
#nuvem1{
    margin-top: 20px;
    width: 510px;
    height: 450px;
    background-image: url(informacoes_imagens/nuvem1_frente.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
}
#nuvem1:hover{
    transition: all 1s;
    background-image: url(informacoes_imagens/nuvem1_tras.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#nuvem2{
    margin-top: 20px;
    width: 510px;
    height: 450px;
    background-image: url(informacoes_imagens/nuvem2_frente.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
}
#nuvem2:hover{
    
    background-image: url(informacoes_imagens/nuvem2_tras.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
}
#nuvem3{
    margin-top: 20px;
    width: 510px;
    height: 450px;
    background-image: url(informacoes_imagens/nuvem3_frente.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
}
#nuvem3:hover{
    background-image: url(informacoes_imagens/nuvem3_tras.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s;
}